<h2>Bienvenido</h2>


<p>
Ingrese su nombre o usuario
<input name="nomre">

</p>
<button (click)="respuestas(true)" >respuestas</button>
<form >
    <div class="" *ngFor="let pregunta of preguntas" >
        <h4>{{pregunta.question}}</h4>
        <p>Respuesta: 
            <select id="{{ pregunta.id }}" name="{{ pregunta.id }}" >
            <option *ngFor="let respuesta of pregunta.answers" value="{{ respuesta.correctAnswer}}">
                {{respuesta.answer}}
            </option>
            </select>
        </p>
    <hr>
    </div>
</form>